/* 基礎要素 */
header{
  background: rgb(234,235,219); /* 背景色 */
  padding: 5px ; /* ラインから表示までの幅 */
  text-align: center;
  top: 0px;
}
div.body {
  line-height: 200%; /* 行間の幅 */
  text-align: left; /* 要素の配置 */
  padding: 5px 0px 5px 0px;
  margin-right: 10px;
  margin-left: 10px;
}
footer {
}
ul.links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: square;
  list-style-position: inside;
  justify-content: flex-start;
  width: auto;
  height: auto;
}
ul.links li {
  list-style-type: square;
  list-style-position: inside;
  padding: 1%;
  margin: 0px;
  width: auto;
  height: auto;
}
/* 基礎要素 終了 */
/* 文字の装飾等 */
.big {
  font-size: 105%;
  font-weight: bold;
}
.middle {
  text-align: center;
  padding: 0px;
}
/* 文字の装飾等 終了 */
/* サイト内の設定 */
.nospace {
  line-height: 200%; /* 行間の幅 */
  text-align: left; /* 要素の配置 */
  margin: 0px;
  padding: 0px;
}
body {
  font-family: nicomoji-plus, Hiragino Maru Gothic Pro W6, Hiragino Sans, Meiryo UI, Meiryo;
  margin: 0px;
  font-size: 105%;
}
@font-face {
  font-family: 'nicomoji-plus';
  src: url('/Fonts/nicomoji-plus.ttf');
  font-display: swap;
}
::-webkit-scrollbar {
  /* width: 10px;
  height: 10px; */
  width: 5%;
  height: 10%;
}
::-webkit-scrollbar-track {
  background: darkgrey;
}
::-webkit-scrollbar-thumb {
  /* background: slategrey; */
  background-image: url("/Images/begeta_neta.jfif");
  background-size: cover;
  /* border-radius: 5px; */
  border-radius: 50%;
}
/* サイト内の設定 終了 */
/* 没 */
div.placement > div {
  border-radius: 5px; /* 角の丸まり */
  background: rgb(248,255,117); /* 背景色 */
  border: 2px solid rgb(0,255,0); /* 線の色 */
  padding: 1em; /* ラインから表示までの幅 */
}
div.placement {
  display: grid; 
  grid-template-columns: 2 3 2; /* 分割 */
  grid-gap: 10px; /* ラインの外の空間 */
  margin-bottom: 20px; /* ライン端から表示場所までの幅 */
}
div.left {
  grid-row: 1 / 10 ; /* 縦 */
  grid-column: 1 / 3 ; /* 横 */
}
div.middle {
  grid-row: 1 / 10 ; /* 縦 */
  grid-column: 3 / 6 ; /* 横 */
}
div.right {
  grid-row: 1 / 10 ; /* 縦 */
  grid-column: 6 / 8 ; /* 横 */
}
/* 没 終了 */
ul.blogs-articles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
  height: auto;
}
ul.blogs-articles li {
  list-style-type: none;
  padding: 1%;
  margin: 1%;
  width: auto;
  min-width: 48%;
  max-width: 100%;
  height: auto;
}
ul.bigcontent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0px;
  width: auto;
  height: auto;
  padding: 0px;
}
ul.bigcontent li {
  padding: 1%;
  margin: 0px;
  width: 300px;
  height: 150px;
  
}
iframe.iframe {
  overflow: hidden;
  border: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.discord {
  background-image: url(/Images/discord-logo.gif);
  background-size: contain;
}
.github {
  background-image: url(/Images/github-logo.png);
  background-size: contain;
}
.instagram {
  background-image: url(/Images/instagram-logo.jpg);
  background-size: contain;
}
.pixiv {
  background: black url(/Images/pixiv-logo.png) no-repeat;
  background-size: contain;
}
.spotify {
  background: black url(/Images/spotify-logo.png) no-repeat;
  background-size: contain;
}
.youtube {
  background-image: url(/Images/youtube-logo.png);
  background-size: contain;
}
.account {
  border-radius: 5px;
  text-align: center;
  position: absolute;
  padding: 0px;
  margin: auto;
  max-width: 98%;
}
