.placement > div {
  border-radius: 5px; /* 角の丸まり */
  background: rgb(248,255,117); /* 背景色 */
  border: 2px solid rgb(0,255,0); /* 線の色 */
  padding: 1em; /* ラインから表示までの幅 */
}
.placement {
  display: grid; 
  grid-template-columns: 2 3 2; /* 分割 */
  grid-gap: 10px; /* ラインの外の空間 */
  margin-bottom: 20px; /* ライン端から表示場所までの幅 */
}
.left {
  grid-row: 1 / 10 ; /* 縦 */
  grid-column: 1 / 3 ; /* 横 */
}
.middle {
  grid-row: 1 / 10 ; /* 縦 */
  grid-column: 3 / 6 ; /* 横 */
}
.right {
  grid-row: 1 / 10 ; /* 縦 */
  grid-column: 6 / 8 ; /* 横 */
}
.header {
  background: rgb(234,235,219); /* 背景色 */
  padding: 5px ; /* ラインから表示までの幅 */
  text-align: center;
  top: 0px;
}
.normal > div {
  font-size:16px; /* フォントサイズ */
  line-height:200%; /* 行間の幅 */
}
.index-body {
  text-align:center;
  padding:10px 0px 0px 5px;
}
